{% extends "admin/change_form.html" %}

{% load static %}
{% load ebase_tags %}

{% block after_field_sets %}
<link rel="stylesheet" href="{% static "ebase/admin/css/form.css" %}">

<div style="margin-bottom: 30px; margin-left: 10px;">
    {% get_med_direction as md %}
    <h2>Фильтр оборудования по направлениям</h2>
    <nav>
    {% for m in md %}
        <a href="{{ path }}{% if '?' in path %}&{% else %}?{% endif %}med_direction={{ m.slug_name }}">{{ m.name }}</a>{% if not forloop.last %} | {% endif%}
    {% endfor %}
    </nav>
</div>
{% endblock %}

{% block after_related_objects %}
<div style="margin-bottom: 30px; margin-left: 10px;">
    {% get_cities as cities%}
    <h2>Фильтр по городам</h2>
    <nav>
        {% for c in cities %}
        <a href="{{ path }}{% if '?' in path %}&{% else %}?{% endif %}city={{ c }}">{{ c }}</a>{% if not forloop.last %} | {% endif%}
        {% endfor %}
    </nav>

</div>
{% endblock %}