[Unit]
Description=gunicorn daemon
After=network.target nginx.service

[Service]
User=medsil
WorkingDirectory=/home/medsil/medsil_equipment_base/ebase_site
ExecStart=/home/medsil/medsil_equipment_base/.venv/bin/gunicorn --config gunicorn_conf.py ebase_site.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
