#akt-create-btn, #accept-akt-create-btn, #accept-akt-from-create-btn {
    font-size: 0.8125rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--body-bg);
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
    height: 1.5rem;
    line-height: 1;
    padding: 4px 8px;
    margin: 0;
    color: var(--body-fg);
}

#akt-create-btn:hover, #accept-akt-create-btn:hover, #accept-akt-from-create-btn:hover {
    border: 1px solid black;
    background: #e4e4e4;
}

#filter-style-eqipment {
    order: 1;
    background: #f8f8f8;
    border-left: none;
    margin: 0 0 0 0;
}

#filter-style-eqipment h2 {
    color: white;
    background: #264b5d;
    font-size: 0.775rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    margin-bottom: 12px;
    border-bottom: none;
}

#filter-style-eqipment nav {
    padding: 5px 15px;
    margin-bottom: 12px;
}

#filter-style-dept {
    order: 1;
    background: #f8f8f8;
    border-left: none;
    margin: 0 0 0 0;
}

#filter-style-dept h2 {
    color: white;
    background: #264b5d;
    font-size: 0.775rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    margin-bottom: 12px;
    border-bottom: none;
}

#filter-style-dept nav {
    padding: 5px 15px;
    margin-bottom: 12px;
}

.custom-aligned label {
    display: block;
    padding: 4px 10px 0 0;
    min-width: 160px;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
}
.custom-form-row {
    overflow: hidden;
    padding: 10px;
    font-size: 0.8125rem;
    border-bottom: 1px solid var(--hairline-color);
}

.custopm-form-row label input[type="checkbox"] {
    margin-top: 0;
    vertical-align: 0;
}


/* TOOLBAR */

.custom-action {
    padding: 8px 10px;
    margin-bottom: 15px;
    border-top: 1px solid var(--hairline-color);
    border-bottom: 1px solid var(--hairline-color);
    background: var(--darkened-bg);
    color: var(--body-quiet-color);
}

.custom-action form input {
    border-radius: 4px;
    font-size: 0.875rem;
    padding: 5px;
    color: var(--body-fg);
}

.custom-action form input[type="submit"] {
    border: 1px solid var(--border-color);
    font-size: 0.8125rem;
    padding: 4px 8px;
    margin: 0;
    vertical-align: middle;
    background: var(--body-bg);
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
    color: var(--body-fg);
}

.custom-action form input[type="submit"]:focus,
.custom-action form input[type="submit"]:hover {
    border-color: var(--body-quiet-color);
}

.custom-action .help {
    word-break: break-word;
}
